   *{
     box-sizing: border-box;
   }
   #header {
     border:3.0px solid black;
     font-size: 2em;
    font-family:'Times New Roman', Times, serif;
    position: static;
    background-color: gold;
    grid-column-start:1;
    grid-column-end:4;
    }

    #nav{
      font-family: 'Times New Roman', Times, serif;
      font-size: 1.5em;
      border:black;
     background-color: gold;
    }

    #main{
     font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    background-color: gold;
    border:3.0px solid black;
    color:black;
    }

    #footer{
    background-color: lightblue;
    color:black;
    font-size:1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    padding: 10px;
    border: 3.0px solid black;
    grid-column-start:1;
    grid-column-end:4;
    }

    img{
     float:left;
     width:50%;
     height:200px;
     display:block;
     position: static;
    }

    a:hover{
     color: red;
    }
.change {
  padding: 20px;
  color: black;
}

@media only screen and (max-width: 600px) {
  .change {background: lightgrey;}
}

@media only screen and (min-width: 992px) {
  .change {background: palegreen;}
} 
    
a:link{
  text-decoration: none;
}
ul{
  list-style-type: none;
 font-size:150%;
 font-family: 'Times New Roman', Times, serif;
}


.mySlides {display:none;}
