   *{
     box-sizing: border-box;
   }
   #header {
     border:3.0px solid black;
     font-size: 2em;
    font-family:cursive;
    position: static;
    background-color: gold;
    grid-column-start:1;
    grid-column-end:4;
    }

    #nav{
      border:black;
     background-color: royalblue;
    }

    #main{
     font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    background-color: gold;
    border:3.0px solid black;
    color:black;
    }

    #footer{
    background-color: lightblue;
    color:black;
    font-size:1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align:center;
    padding: 10px;
    border: 3.0px solid black;
    grid-column-start:1;
    grid-column-end:4;


    }
    img{
     float:left;
     width:50%;
     height:200px;
     display:block;
     position: static;

    }

    a:hover{
     color: darkblue;

    }

   @media screen and (max-width: 992px) {
  body {
    background-color: lightgray;
  }
}

@media screen and (max-width: 600px) {
  body {
    background-color: darkcyan;
  }
}
    


a:link{
  text-decoration: none;
}
ul{
  list-style-type: none;
 font-size:150%;
 font-family: 'Times New Roman', Times, serif;
}
